.page-header {
    .panel.wrapper {
        .lib-css(border-style, none);
    }
}

.page-footer {
        .lib-css(background-color, rgb(44,54,89));   
}

.footer.content {
    border-top: 1px dashed rgb(241, 236, 236);
    margin-top: 26px;
    padding-bottom: 26px;
    padding-top: 26px;
}

.logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   }
   
//Fonts
@font-family-name__base: 'Roboto';
@font-family-name__base: 'Raleway';

//  Navigation
@navigation__background:  rgb(44,55,106);
@navigation-desktop-level0-item__color: white;
@navigation-desktop-level0-item__hover__color: white;
@navigation-desktop-level0-item__active__color: rgb(254, 197, 64);
@navigation-desktop-level0-item__active__border-color: rgb(44,55,107);