.lib-font-face(
    @family-name:@font-family-name__base,
    @font-path: '@{baseDir}fonts/Roboto/Roboto-Regular',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name:@font-family-name__base,
    @font-path: '@{baseDir}fonts/Roboto/Raleway-Regular',
    @font-weight: 300,
    @font-style: normal
);

