.lib-font-face(
    @family-name:@font-family-name__base,
    @font-path: '@{baseDir}fonts/Raleway/Raleway-Regular',
    @font-weight: 300,
    @font-style: normal,
);

.lib-font-face(
    @family-name:@font-family-name__base,
    @font-path: '@{baseDir}fonts/Raleway/Raleway-Bold',
    @font-weight: 300,
    @font-style: bold,
);

.lib-font-face(
    @family-name:@font-family-name__base,
    @font-path: '@{baseDir}fonts/Roboto/roboto-regular-webfont',
    @font-weight: 300,
    @font-style: normal,
);