.page-header {
    .panel.wrapper {
        .lib-css(border-style, none);
    }
}

.page-footer {
    .lib-css(background-color, rgb(169,1,7));   
}

.product-image-container{
    .lib-css(border-style, solid 1px);
}

.product-items{
    text-align: center;
}

.product-item-info{
    text-align: left;
}

//Fonts
@font-family-name__base: 'Helvetica';
@font-family-name__base: 'OpenSans';


//Buttons
@button-primary__hover__color: @color-white;
@button-primary__background: rgb(196, 4, 11);
@button-primary__hover__background: rgb(169,1,7);
@button-primary__border: rgb(169,1,7);
@button-primary__hover__border: rgb(169,1,7);
@button-primary__margin: 3px;

//  Navigation
@navigation__background: @color-white;
@navigation-desktop-level0-item__active__color: rgb(63, 177, 42);
@navigation-desktop-level0-item__active__border-color:  @color-white;